* {box-sizing:border-box; padding: 0; margin: 0;}
::before,::after {box-sizing:inherit;}
*[class$="button"],input[type="submit"], button {
	cursor: pointer;
}
.clearfix::after {
	content: '';
	clear: both;
	width: 100%;
	display: block;
}
a {
	color: inherit;
	text-decoration: none;
}
input, select, textarea {
	font-family: inherit;
}
body {
	font-family: Open Sans, sans-serif;
}
::-webkit-input-placeholder {
   color: inherit;
}
img, svg {
	max-width: 100%;
}
:-moz-placeholder {  
   color:  inherit;
}

::-moz-placeholder {   
   color:  inherit;
}

:-ms-input-placeholder {  
   color: inherit;
}
@media (min-width:1024px) {
	body {
		width: 100%; height: 100%;
		position: fixed;
		overflow: hidden;
	}
	
}

#site-intro {
	background: rgba(57, 57, 57, 1);
	position: fixed;
	font-size: 0;
	width: 100%; height: 100%;
	-webkit-perspective: 200;
	z-index: 10;
	/* display: none;  */
}
#site-intro.is-hidden {
	visibility: hidden;
}
#site-intro .bg {
	background: #000;
	display: inline-block;
	height: 50vh;
	width: 50%;
	background-image: url('../images/mosaico-full.jpg');
	z-index: 2;
}
#site-intro .bg:nth-child(odd) {
	transform-origin: bottom left;	
}
#site-intro .bg:nth-child(even) {
	transform-origin: bottom right;	
}
#site-intro img {display: block; position: absolute;}

.intro-title {
	background: rgba(57, 57, 57, 0.8);
	position: absolute;
	z-index: 5;
	font-size: 16px;
	width: 100%;
	height: 260px;
	padding: 20px;
	text-align: center;
	color: #fff;
	display: block;
	top: 0; bottom: 0;
	margin: auto;
}
@media (min-width:768px) {
	.intro-title{padding: 20px;}
}
.intro-title .inner {
	display: block;
	margin: auto;
	max-width: 90%;
	width: auto;
    display: inline-block;
}
.intro-title .inner > span {
	display: block;
}
.p1 {text-transform: uppercase; font-size: 20px; }
.p2 {
	font-size: 44px;
	font-weight: 800;
	letter-spacing: -0.09em;
	line-height: 1;  
} 
@media (max-width:767px) {
	.intro-title  {
		padding: 0;
		display: flex;
	    flex-flow: row wrap;
	    justify-content: space-between;
	    align-items:center;
	}
}
@media (min-width:768px) {
	.p1 {font-size: 26px; position: relative;  text-align: right; font-size: 26px; top: 20px;}
	.p2 {font-size: 84px;}
}
@media (min-width:1024px) {
	.p1 {font-size: 34px;}
	.p2 {font-size: 144px;}
}
.p2 span {
	text-transform: uppercase;
	color: #47bbe6;
}
.p3 {  
	font-size: 20px;
	font-weight: 300;
	letter-spacing: -0.04em;
	color: #fff;
}
@media (min-width:768px) {
	.p3 {text-align: right; font-size: 24px;}
}
#scrollDown {
	width: 60%;
	position: absolute;
	bottom: 0;
	right: 0; left: 0;
	margin: auto;
	background: #2c2424;
	z-index: 20; 
	color: #fff;
	font-size: 13px;
	text-align: center; 
	cursor: pointer;
	padding: 15px 0;
}
@media (min-width:768px) {
	#scrollDown {width: 22%; padding: 30px 0;}
}
.icon-scrollDown {
	display: block;
	margin: auto;
	width: 30px; height: 30px;
	background: url('../images/icon-scrollDown.png');
	-webkit-background-size: contain;
	background-size: contain;
	margin-bottom: 10px;
}


#site-frame {
	padding-bottom: 10vh;
	position: relative;
}

.site-footer { 
	position: relative;
	bottom: 0; 
	height: auto;
	background: #3b3939;
	width: 100%;
	color: #fff;
	text-align: center;
	padding: 20px 0;
}
@media (min-width:1024px) {
	.site-footer {height: 10vh;
		position: absolute;
		padding: 0;}
}
.site-footer .wrapper {
	width: 90%;
	max-width: 960px;
	margin: auto;
}
.site-footer a {
	font-size: .9em;
	margin-bottom: 35px;
	display: block;
}
@media (max-width:767px) {
	.site-footer a {
		margin-bottom: 35px;
		display: block;
	}
}
@media (min-width:768px) {
	.flexbox .site-footer .wrapper {
		display: flex;
	    flex-flow: row wrap;
	    justify-content: center;
	    align-items:center;
	    height: 100%;
	}
	.no-flexbox .site-footer .wrapper * { 
	    height: 100%;
	    display: inline-block;
	    vertical-align: middle;
	}
	.no-flexbox .site-footer a {
		margin-bottom: 0;
		margin-top: 20px;
	}
	.flexbox .site-footer .wrapper .logo-brasil {
		margin-left: 0;
		margin-right: 0;
	}
	.flexbox .site-footer .wrapper a {
		margin: auto;
	}
	.logo-brasil {
		float: right;
		padding-top: 5px;
	}
}
/*MAPA*/
#site-mapa {
	position: relative;
	width: 100%;
	min-height: 100vh; 
	z-index: 3;
	overflow: hidden;
	top: 0;
}
@media (min-width:768px) {
	#site-mapa{height: 90vh; min-height: 0;}
}
@media (min-width:1024px) {
	#site-mapa {
		position: absolute;
	}
}
#mapa {
	margin: auto; 
	top: 0; bottom: 0; left: 0; right: 0;
	margin: auto;
}
@media (max-width:767px) {
	max-width:90%;
}
@media (min-width:768px) {
	#mapa {
		position: absolute;
	}
}
@media (min-width:1024px) {
	#mapa {
		width: 70%;
	}
}
@media (min-width:1200px) {
	#mapa {
		width: 50%;
	}
}
#mapa-bg {display: none;}
@media (min-width:768px) {
	#mapa-bg{
		display: block;
		margin: auto;
		display: block;
		position: absolute;
		top: 0; bottom: 0;
		margin: auto;
		width: 100%;
	} 
	#mapa-bg {
		width: 80%;
	}
}
.mapa-pin { 
	cursor: pointer; 
	width: 40px; height: 50px;
	position: relative;
}
 
.mapa-pin { 
	margin-top: -5px;
	margin-left: -14px;
	position: absolute;
	width: 40px; height: 50px;
}

.mapa-pin svg {
	position: absolute;
} 
.mapa-pin .icon svg {
	top: 0; bottom: 0;
	fill: #fff;
    width: auto;
	height: 50%;
	max-width: 90%;
	left: 0; right: 0;
    margin: 6px auto auto auto;
}
.mapa-pin svg.fundo {
	top: 0;
	width: 100%; 
	fill: #000;
	height: auto;
}
.pin-title {
	position: absolute;
	bottom: 150%; 
	margin: auto; 
	transform: translateX(-45%);
	width: 400px;
	background: #000;
	text-transform: uppercase;
	font-size: 20px;
	color: #fff;
	font-weight: 300;
	padding: 16px 10px; 
	visibility: hidden;
	transform-origin: bottom center;
	transform:  translateX(-45%)  ;
	opacity: 0;
	transition:opacity .4s, visibility 0s .4s ease-in;
}
.popup-bottom .pin-title {
	bottom: auto;
	top: 150%;
}
.mapa-pin:hover {
	z-index: 5;
}
.mapa-pin:hover .pin-title {
	visibility: visible;
	transform:  translateX(-45%)  ;
	opacity: 1;
	transition:opacity .4s, visibility  .4s ease-in 0s;
}
.pin-title::after {
	content: '';
	position: absolute;
	right: 0; left: 0;
	bottom: -19px;
	margin: auto;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 19px 12px 0 12px;
	border-color: #000 transparent transparent transparent;
}

.popup-bottom .pin-title::after {
	bottom: auto;
	top: -19px;
	border-width: 0 12px 19px 12px;
}
.pin-title-icon { 
	border: 2px solid #fff;
	border-radius: 60%;
	position: relative;
	width: 60px; height: 60px;
	display: inline-block;
	vertical-align: middle;
}
.pin-title span {
	display: inline-block;
	vertical-align: middle;
	width: 60%;
	margin-left: 10%;
	text-align: center;
}
.flexbox .pin-title {
	display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items:center;

}
.flexbox .pin-title * {
	flex-shrink: 0;
} 
.flexbox .pin-title span{
	width: 85%;margin-left: auto;
}
.pin-title-icon svg {
	position: absolute;
	top: 0; bottom: 0;
	right: 0; left: 0;
	max-height: 50%;
	max-width: 80%;
	margin: auto;
	fill: #fff;
}
/*INTERNA LOADER*/
#interna-loader {
	background: #fff;
	width: 100%;
	height: 100vh;
	position: absolute;
	top: 0; left: 0;
	z-index: 4;
	visibility: hidden;
	opacity: 0;
	transform: scale(1);
	transition: visibility 0s .4s, transform .4s, opacity .4s;
	overflow: hidden;
}
@media (max-width:1023px) {
	#interna-loader {
		height: 90vh;
		padding-bottom: 10px;
	}
	#interna-loader::after {
		content: '';
		width: 100%;
		height: 60px; 
		position: absolute;
		z-index: 2;
		bottom: 0; left: 0;

		background: rgba(240,240,240,0);
		background: -moz-linear-gradient(top, rgba(240,240,240,0) 0%, rgba(240,240,240,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(240,240,240,0)), color-stop(100%, rgba(240,240,240,1)));
		background: -webkit-linear-gradient(top, rgba(240,240,240,0) 0%, rgba(240,240,240,1) 100%);
		background: -o-linear-gradient(top, rgba(240,240,240,0) 0%, rgba(240,240,240,1) 100%);
		background: -ms-linear-gradient(top, rgba(240,240,240,0) 0%, rgba(240,240,240,1) 100%);
		background: linear-gradient(to bottom, rgba(240,240,240,0) 0%, rgba(240,240,240,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 ); 
	}
}
@media (min-width:1024px) {
	#interna-loader  {
		overflow-y: scroll;
	}	
}

@media (max-width:1023px) {
	#interna-loader > .interna {
		overflow-y: scroll;
		height: 100%;
	}	
}

@media (min-width:1024px) {
	#interna-loader {
		position: absolute;
		height: 90vh;
		overflow: hidden;
	}
}
#interna-loader.is-visible {
	visibility: visible;
	opacity: 1;
	transform: scale(1);
	transition: visibility .4s 0s, transform .4s, opacity .4s;
}
/*00 - INTERNA*/
.interna {
	padding: 30px 0;
}
@media (min-width:1024px) {
	.interna { 
	    height: 90vh;
	    position: relative;
	    padding: 0;
	}
	.no-flexbox .interna::after{
		content: '';
		clear: both;
		width: 100%;
		display: block;
	}
}
/*01 - MAIN WRAPPER*/
@media (max-width:1023px) {
	.main-wrapper {
		width: 90%;
		margin: auto;
	}
}
@media (min-width:1024px) {
	.no-flexbox .interna .main-wrapper .mosaico-interna{
		 width: 30%; float: left;
	}
	.no-flexbox .interna .main-wrapper .content-interna{
		 width: 50%; float: left;
	}
	.flexbox .interna .main-wrapper{
		display: flex;
	    flex-flow: row wrap;
	    justify-content: flex-start; 
	}
}
/*02 - MOSAICO*/
.mosaico-interna {
	position: absolute;
	font-size: 0;
} 
.mosaico-interna > div {
	display: inline-block;
	border: 1px solid #fff;
	background-repeat: no-repeat;
	background-position: center;
	background-blend-mode: soft-light;
	background-repeat: no-repeat;
	/* opacity: 0; */
}
#mosaico-interna-aviacao .mosaico-img1{
	width: 100%;
	height: 60%;
	background-position: center;
}
@media (min-height:830px) {
	#mosaico-interna-aviacao .mosaico-img1 {
		background-position: top;
	}
}
#mosaico-interna-aviacao .mosaico-img2{
	width: 55%;
	height: 40%;
	background-position: center left;
}
#mosaico-interna-aviacao .mosaico-img3{
	width: 45%;
	height: 40%;
	background-position: left center;
	-webkit-background-size: auto 100%;
	background-size: auto 100%;
}


#mosaico-interna-ferrovias .mosaico-img1{
	width: 100%;
	height: 55%;
	background-position: bottom;
	-webkit-background-size: 100% auto;
	background-size: 100% auto;
}
@media (min-height:830px) {
	#mosaico-interna-ferrovias .mosaico-img1 {
		background-position: bottom;
	}
}
#mosaico-interna-ferrovias .mosaico-img2{
	width: 55%;
	height: 45%;
	background-position: center left;
}
#mosaico-interna-ferrovias .mosaico-img3{
	width: 45%;
	height: 45%;
	background-position: left center;
	-webkit-background-size: cover;
	background-size: cover;
}

#mosaico-interna-portos .mosaico-img1{
	width: 50%;
	height: 45%;
	background-position: bottom;
	-webkit-background-size: 100% auto;
	background-size: 100% auto;
}  
#mosaico-interna-portos .mosaico-img2{
	width: 50%;
	height: 45%;
	background-position: center left;
	-webkit-background-size: 100% auto;
	background-size: 100% auto;
}
#mosaico-interna-portos .mosaico-img3{
	width: 100%;
	height: 55%;
	background-position: left center;
	-webkit-background-size: cover;
	background-size: cover;
}


#mosaico-interna-rodovias .mosaico-img1{
	width: 100%;
	height: 55%;
	background-position: center;
}
@media (min-height:830px) {
	#mosaico-interna-rodovias .mosaico-img1 {
		background-position: top;
	}
}
#mosaico-interna-rodovias .mosaico-img2{
	width: 50%;
	height: 45%;
	background-position: top left;
	-webkit-background-size: 100% auto;
	background-size: 100% auto;
}
#mosaico-interna-rodovias .mosaico-img3{
	width: 50%;
	height: 45%;
	background-position: top center;
	-webkit-background-size: cover;
	background-size: cover;
}






@media (min-width:1024px) { 
	.mosaico-interna {
		position: relative;
		width: 42%;	
		height: 75vh;  
		position: relative;
		margin-top: 0;
    	margin-bottom: auto;
	}
}
@media (min-width:1024px) and (min-height:830px) {
	.interna .mosaico-interna {
		height: 78vh;
	}
}
@media (min-width:1700px) {
	.interna .mosaico-interna {
		width: 40%;
	}
}

/*02 - CONTENT-INTERNA*/
.content-interna {
	text-align: center; 
	white-space: nowrap;
	width: 100%;
	
	position: relative;
}
@media (min-width:768px) {
	.content-interna{overflow: hidden;}
}
@media (min-width:1024px) {
	.content-interna {
		overflow: hidden; 
		height: 70vh;
		width: 40%;
		margin-left: 2%; 
		padding-top: 0;	
		margin-top: auto;
		margin-bottom: auto;
	} 
	.no-flexbox .content-interna {
		float: left;
	}  
}
@media (min-width:1700px) {
	.content-interna {
		margin-left: 2%; 
	}
}

/*03 - CONTENT-INTERNA .INNER*/
.content-interna .inner{ 
	display: inline-block;
	white-space: normal;
	width: 100%; 
	pointer-events: none;
	position: absolute;
	top: 0; left: 0;
	padding-top: 24px; 
}
.sceneElement {visibility: hidden;}
.content-interna .inner.is-current {
	pointer-events: auto;
}
@media (min-width:1024px) {
	.content-interna .inner {
		height: 70vh; 
		position: absolute;  
	}	
	.flexbox .content-interna .inner {
		display: flex;
	    flex-flow: column nowrap;
	    justify-content: space-between;
	    align-items:flex-start;
	}
}
@media (min-width:1024px) and (min-height: 830px) {
	.content-interna .inner {
		height: 60vh;
	}
}
/*04 - CONTENT-INTERNA TEXTOS*/
.title-icon{
	width: 100px;
	display: block;
	margin: auto auto 20px auto;
}
.main-title {
	font-weight: 300;	
	font-size: 2.1em;
	width: 100%;
	line-height: 1;
	text-transform: uppercase;
}
.main-title h1 {
	font-weight: normal;
	font-size: 1em;
	font-weight: inherit;
}
.sub-title {
	font-weight: 600;
	color: #767676;
	
	margin: 25px auto 0 auto;
	font-size: .9em;
}
@media (min-width:1024px) { 
	.sub-title{
		margin: 1em auto auto auto;
	} 
}
@media (min-height:830px) {
	.sub-title {
		font-size: 1em;
		max-width: 470px;
	}
}
@media (min-width:1024px) and (min-height:830px) {
	.main-title {font-size: 45px;}
	.sub-title {font-size: 19px;}
}
/*04 - CONTENT-MENU*/
.content-menu-wrapper {
	width: 100%;
}
.content-menu-timeline {position: relative;}
.content-menu-timeline li {position: relative;}
.content-menu-timeline li::before {
	content: '';
	position: absolute; 
	top: 27px;
	left: 0;  
	margin: auto;
	height: 1px;
	border: 1px dashed #000;
	width: 100%; 
	display: block;
	z-index: 1;
}
.content-menu-timeline li:first-child::before {
	width: 50%;
	right: 0;
	left: auto;
} 
.content-menu-timeline li:last-child::before {
	width: 50%;
	right: auto;
	left: 0;
} 
@media (min-width:1024px) and (min-height:830px) {
	.content-menu-timeline::before {
		top: 62px;
	}
}
.content-menu-timeline li .icon {
	position: relative;
	z-index: 2;
	background: #fff;
}

.content-menu-timeline li .icon.leilao,
.content-menu-timeline li .icon.estudos,
.content-menu-timeline li .icon.audiencia {
	background: #d147d3;
}

.content-menu {
	margin-top: 2em;
	font-size: 0;
}
.content-menu li {
	display: inline-block;
	vertical-align: top;
	width: 30%;
	text-align: center;
	text-transform: uppercase;
	margin-top: 24px;
	font-size: 10px;
	font-size: .5rem;
	font-weight: 700;
	color: #4d4c4c; 
}

.content-menu li.leilao,
.content-menu li.estudos,
.content-menu li.audiencia {
	color: #d147d3;
}

@media (min-width:768px) {
	.content-menu li {font-size: 12px;
	font-size: .7rem;}
}
.content-menu li .icon, .overlay-icon { 
	display: block;
	margin: auto;
	width: 75px; height: 75px;
	width: 50px; height: 50px;
	text-align: center;
	border-radius: 50%;
	margin-bottom: 8px;
	border: 2px solid #000;
	position: relative;
	cursor: pointer;
}

.content-menu-timeline {
		display: flex;
	    flex-flow: row nowrap;
	    justify-content: space-between;
	    align-items:flex-start;
}

.content-menu li .icon svg, .overlay-icon svg {
	max-width: 90%;
	max-height: 50%;
	position: absolute;
	bottom: 0; top: 0;
	right: 0;left: 0;
	margin: auto;
}
 .content-menu li .icon:hover svg {
	fill: #fff;
}
@-webkit-keyframes DASH {
	from {
		stroke: #fff; 
		stroke-opacity:1;
		fill-opacity:0 ; 
		stroke-dasharray: 100; 
		stroke-dashoffset: 100;
	} 
	90% { 
		stroke-dashoffset: 0;
		fill-opacity:1; 
		stroke-opacity:0;
	}
	100% {
		fill: #fff; 
	}
}

.icon:hover svg{  
	-webkit-animation:  DASH .9s ease-out forwards;
}
@media (min-width:1024px) {
	.content-menu {
		width: 100%;
		margin: auto auto auto auto ;
	}
	.content-menu li {
		font-size: .7rem;
		width: 25%; 
	}
	.no-flexbox .content-menu li {
		width: 20%;
	}
}
@media (min-width:1024px) and (min-height:830px) {
	.content-menu {
		width: 90%;
	}
	.content-menu li{
		font-size: .8rem;
	}
	.content-menu li .icon {
		width: 75px; height: 75px;
	}
}
@media (min-width:1700px) { 
	.content-interna {
		width: 35%;
	}
}




/*02 - INTERNA--NAVEGACAO*/
.interna-navegacao {
	max-width: 960px;
}
@media (max-width:767px) {
	.interna-navegacao{
		/* margin-top: 64px; */
	}
	.interna-navegacao a:first-child{margin-top: 0;}
}
.interna-navegacao a{
	font-size: .8em;
	text-transform: uppercase;
	padding: 2em ;
	font-weight: 700;
	border: 1px solid #dedede;
	width: 315px;
	display: block;
	max-width: 90%;
	text-align: center; 
	margin: 24px auto auto;
	height: 80%;
	color: #4d4c4c;
	position: relative;
} 
 
.interna-navegacao span {
	position: relative; z-index: 2;
}
.interna-navegacao a {
	transition: color .2s .1s cubic-bezier(0.37,-0.01, 0.22, 1);
}
.interna-navegacao a::before {
	content: '';
	width: 100%; height: 100%;
	background: #000;
	top: 0; left: 0;
	position: absolute;
	transform: scaleY(0);
	transition: transform .3s cubic-bezier(0.37,-0.01, 0.22, 1); 
	transform-origin: bottom;
}
.interna-navegacao a.is-current {
	color: #fff !important;
}
.interna-navegacao a.is-current::before {
	transform: scaleY(1); 
}
@media (min-width:1024px) {
	.interna-navegacao {
		height: 15vh;
		background: #fff;
		text-align: center;
		width: 100%;
		position: absolute;
		bottom: 0;left: 0; right: 0;	 
		margin:24px auto auto;	
		padding: 20px 0; 
	}
	.flexbox .interna-navegacao {
		display: flex;
	    flex-flow: row nowrap;
	    justify-content: center;
	    align-items:center; 
	    padding: 0;
	} 
	.interna-navegacao a  {
		display: table-cell;
		vertical-align: middle;
		margin: auto 3px auto;
		/* max-width: 33%; */
	}
	.no-flexbox .interna-navegacao a {
		margin-right: 10px;
	}
	.flexbox .interna-navegacao a {
		display: flex; 
	    justify-content: center;
	    align-items:center;
	    flex-grow: 1;
	    flex-shrink: 1;
	}
}

@media (min-width:1024px) and (min-height:830px) {
	.interna-navegacao {
		height: 12vh;
	}
}

/*01 - MAIN--NAVEGACAO*/
.no-nav .main--navegacao {
	visibility: hidden;
}
.main--navegacao {
	width: 90%;
	margin: 3em auto;
	display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items:center;
}
.main--navegacao a {
	background: #cdced0;
	color: #fff;
	width: 18%; height: 60px;
	display: inline-block;
	margin: 5px 2% 0 0;
	display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items:center;
    position: relative;
}
.no-flexbox .main--navegacao a{
	display: block;
}
.main--navegacao a.nav-toSec.aeroportos:hover {
	background: #8ae647;
}
.main--navegacao a.nav-toSec.portos:hover {
	background: #47bbe6;
}
.main--navegacao a.nav-toSec.ferrovias:hover {
	background: #f3ae08;
}
.main--navegacao a.nav-toSec.rodovias:hover {
	background: #8e7cd9;
}
.main--navegacao a .icon svg {
	max-width: 70%;
	height: 50%;
	position: absolute;
	top: 0; bottom: 0;
	right: 0; left: 0;
	margin: auto;
	fill: #fff;
	z-index: 2;
}
@media (min-width:768px) {
	.main--navegacao {
		width: 15%;
		position: fixed;
		top: 0;
		right: 0;
		text-align: center;
		height: 90vh; 
		margin: auto;
		z-index: 5;
	}
	.no-flexbox .main--navegacao {
		top: 25%;
	}
	.flexbox .main--navegacao {
		display: flex;
	    flex-flow: column wrap;
	    justify-content: center;
	    align-items:center;
	} 
	.main--navegacao a { 
		vertical-align: middle;
		width: 74px; height: 94px; 
		margin: 0 auto 5px auto; 
		position: relative; 
	}
}
@media (min-width:1700px) {
	.main--navegacao {
		width: 24%;
	}
}


/* cubic-bezier(0.37,-0.01, 0.22, 1) */

.interna-content-overlay {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0; left: 0;
	background: rgba(255, 255, 255, 0.95);
	z-index: 10;
	/* display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items:center; */
    visibility: hidden;
	padding: 60px 0;
	overflow-y: scroll;
}
.interna-content-overlay.is-visible {
	visibility: visible;
}
.interna-content-overlay .wrapper {
	width: 580px;
	max-width: 90%;
	margin: auto; 
	text-align: center; 
	font-weight: 700;
	color: #767676;
	line-height: 1.6;
	position: relative;
}
#sec-multimidia .wrapper {
	width: 700px;
}
#sec-comparativo .wrapper {
	width: 960px;
	max-width: 90%;
}
.interna-content-overlay h1 {
	margin-bottom: 25px;
	letter-spacing: -0.06em;
} 
.overlay-icon {
	width: 60px; height: 60px;
	border: 0;
	margin-bottom: 32px;
}
#overlay-loader {

}
@media (min-height:830px) {
	.overlay-icon {
		width: 90px; height: 90px;
	}	
}
.overlay-icon svg {
	fill: #fff;
}
.btn-close {
	width: 56px; height: 56px;
	border: 1px solid #dedede;
	position: absolute ;
	top: 0; right:  0;
	cursor: pointer;
	background: transparent;
	transition: background .2s;
	z-index: 5;
}
@media (min-width:1024px)  {
	.interna-content-overlay .btn-close{
		top: 0; right: -112px;
	}
}
@media (min-width:1024px) and (min-height: 830px) {
	.interna-content-overlay .btn-close{
		top: 0; right: -112px;
	}
}
.btn-close:hover {
	background: #dedede;
}
.btn-close svg {
	width: 50%;
	fill: #4d4c4c;
	position: absolute;
	left: 0;right: 0;
	top: 0; bottom: 0;
	margin: auto; 
}
.interna-content-overlay p {
	font-size: 1.1em;
}
.interna-content-overlay .txt-small {
	font-size: .8em;
	font-weight: normal;
}
/*INTERNAS CORES*/
/*AEROPORTOS*/
.interna--aeroporto .mosaico-interna > div {
	background: rgba(138, 230, 71, 0.2);
}
.interna--aeroporto .interna-navegacao a::before,
.interna--aeroporto .content-menu li .icon:hover,
body[data-current="aeroportos"] .interna-content-overlay .overlay-icon,
.pin-aeroporto .pin-title,
.main--navegacao a.is-current[data-page="aeroportos"],
.mapa-item.pin-aeroporto
{
	background: #8ae647;

}
.pin-aeroporto .pin-title::after {
	border-color: #8ae647 transparent transparent transparent;;
}
.pin-aeroporto.popup-bottom .pin-title::after {
	border-color: transparent transparent  #8ae647 transparent;;
}
.interna--aeroporto .content-menu li .icon,
.interna--aeroporto .content-menu-timeline li::before {
	border-color: #8ae647;
}

.interna--aeroporto .content-menu li .icon.leilao,
.interna--portos .content-menu li .icon.leilao,
.interna--rodovias .content-menu li .icon.estudos,
.interna--rodovias .content-menu li .icon.audiencia,
.interna--ferrovias .content-menu li .icon.audiencia {
	border-color: #d147d3;
}
.interna--aeroporto .content-menu li .icon.leilao:hover {
	border-color: #8ae647;
}

.interna--aeroporto .main-title,
body[data-current="aeroportos"] .interna-content-overlay .main-title,
.interna--aeroporto .interna-navegacao a:hover {
	color: #8ae647;
} 
.interna--aeroporto .content-interna svg,
.mapa-pin.pin-aeroporto svg.fundo,
.splash-icons-aviao {
	fill: #8ae647;
}
.mapa-pin.pin-aeroporto:hover svg.fundo,
.splash-icons-aviao:hover svg{
	fill: #62a332;
}

.interna--aeroporto .content-interna .icon.leilao svg {
	fill: #fff;
}

/*RODOVIAS*/
.interna--rodovias .mosaico-interna > div {
	background: rgba(142, 124, 217, 0.2);
}
.interna--rodovias .interna-navegacao a::before,
.interna--rodovias .content-menu li .icon:hover,
body[data-current="rodovias"] .interna-content-overlay .overlay-icon,
.pin-rodovias .pin-title,
.main--navegacao a.is-current[data-page="rodovias"],
.mapa-item.pin-rodovias
{
	background: #8e7cd9;
}
.pin-rodovias .pin-title::after {
	border-color: #8e7cd9 transparent transparent transparent;
}
.pin-rodovias.popup-bottom .pin-title::after {
	border-color: transparent transparent  #8e7cd9 transparent;
}
.interna--rodovias .content-menu li .icon,
.interna--rodovias .content-menu-timeline li::before {
	border-color: #8e7cd9;
}
.interna--rodovias .main-title,
body[data-current="rodovias"] .interna-content-overlay .main-title,
.interna--rodovias .interna-navegacao a:hover {
	color: #8e7cd9;
} 
.interna--rodovias .content-interna svg,
.mapa-pin.pin-rodovias svg.fundo,
.splash-icons-caminhao svg {
	fill: #8e7cd9;
}

.interna--rodovias .content-menu li .icon.estudos:hover,
.interna--rodovias .content-menu li .icon.audiencia:hover {
	border-color: #8e7cd9;
}
.interna--rodovias .content-interna .icon.estudos svg,
.interna--rodovias .content-interna .icon.audiencia svg {
	fill: #fff;
}

.mapa-pin.pin-rodovias:hover svg.fundo,
.splash-icons-caminhao:hover svg {
	fill: #8e7cd9;
}
/*FERROVIAS*/
.interna--ferrovias .mosaico-interna > div {
	background: rgba(243, 174, 8, 0.2);
}
.interna--ferrovias .interna-navegacao a::before,
.interna--ferrovias .content-menu li .icon:hover,
body[data-current="ferrovias"] .interna-content-overlay .overlay-icon,
.pin-ferrovias .pin-title,
.main--navegacao a.is-current[data-page="ferrovias"],
.mapa-item.pin-ferrovias
{
	background: #f3ae08;
}
.pin-ferrovias .pin-title::after {
	border-color: #f3ae08 transparent transparent transparent;;
}
.pin-ferrovias.popup-bottom .pin-title::after {
	border-color: transparent transparent  #f3ae08 transparent;;
}
.interna--ferrovias .content-menu li .icon,
.interna--ferrovias .content-menu-timeline li::before {
	border-color: #f3ae08;
}
.interna--ferrovias .main-title,
body[data-current="ferrovias"] .interna-content-overlay .main-title,
.interna--ferrovias .interna-navegacao a:hover {
	color: #f3ae08;
} 
.interna--ferrovias .content-interna svg,
.mapa-pin.pin-ferrovias svg.fundo,
.splash-icons-trem svg {
	fill: #f3ae08;
} 
.mapa-pin.pin-ferrovias:hover svg.fundo,
.splash-icons-trem:hover svg  {
	fill: #ac7c06;
}

.interna--ferrovias .content-menu li .icon.audiencia:hover {
	border-color: #f3ae08;
}
.interna--ferrovias .content-interna .icon.audiencia svg {
	fill: #fff;
}

/*PORTOS*/
.interna--portos .mosaico-interna > div {
	background: rgba(71, 187, 230, 0.2);
}
.interna--portos .interna-navegacao a::before,
.interna--portos .content-menu li .icon:hover,
body[data-current="portos"] .interna-content-overlay .overlay-icon,
.pin-portos .pin-title,
.main--navegacao a.is-current[data-page="portos"],
.mapa-item.pin-portos
{
	background: #47bbe6;
}
.pin-portos .pin-title::after {
	border-color: #47bbe6 transparent transparent transparent;;
}
.pin-portos.popup-bottom .pin-title::after {
	border-color: transparent transparent #47bbe6 transparent;;
}
.interna--portos .content-menu li .icon,
.interna--portos .content-menu-timeline li::before {
	border-color: #47bbe6;
}

.interna--portos .content-menu li .icon.leilao:hover {
	border-color: #47bbe6;
}

.interna--portos .main-title,
body[data-current="portos"] .interna-content-overlay .main-title,
.interna--portos .interna-navegacao a:hover {
	color: #47bbe6;
} 
.interna--portos .content-interna svg,
.mapa-pin.pin-portos svg.fundo,
.splash-icons-navio svg {
	fill: #47bbe6;
}

.interna--portos .content-interna .icon.leilao svg {
	fill: #fff;
}

.mapa-pin.pin-portos:hover svg.fundo,
.splash-icons-navio:hover svg {
	fill: #3285a3;
} 


#loader {
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(50, 50, 50, 0.8);
	z-index: 30;
	visibility: hidden;
	opacity: 0;
	transition: all .2s;
}
#loader.is-visible {
	visibility: visible;
	opacity: 1;
}
#loader.is-home {
	background: rgba(50, 50, 50, 1);
}
@-webkit-keyframes LOADER{
	from {
		transform: scale(.2);
		opacity: 1;
	}
	to {
		transform: scale(1.5);
		opacity: 0;	
	}
}
#loader::before {
	content: '';
	position: absolute;
	bottom: 0; top: 0;
	right: 0; left: 0;
	margin: auto;
	width: 40px; height: 40px; 
	border-radius: 50%;
	border: 5px solid #fff;
	animation: LOADER 1s infinite ease-out;
}

.site-slider .btn {
	width: 66px; height: 66px;
	border:2px solid #dedede;
	position: absolute;
	cursor: pointer;
	top: 0; bottom: 0;
	margin: auto;
}
.site-slider .btn svg {
	position: absolute;
	top: 0; bottom: 0;
	right: 0; left: 0;
	margin: auto;
	height: 60%;
	margin: auto;
}
.site-slider .btn-prev {
	left: -115px;
}
.site-slider .btn-next {
	right: -115px;
}

.site-slider .slick-dots {
	position: absolute;
	text-align: center;
	width: 100%;
	padding-top: 10px;
}
.site-slider .slick-dots li {
	display: inline-block;
}
.site-slider .slick-dots li button {
	font-size: 0;
	width: 16px; height: 16px;
	border-radius: 50%;
	border: 0;
	background: #aaaaaa;
	margin-right: 15px;
}
.site-slider .slick-dots .slick-active button {
	background: #000;
}

.iframe-container div {
	position: relative;
	height: 0;
	padding-bottom: 56.6%;
}
.iframe-container iframe {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0; left: 0;
}

.btn-download {
	border:2px solid #dedede; 
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: -0.02em;
	text-align: center;
	position: relative;
	margin: 34px auto;
	display: block;
	width: 260px; 
	padding: 22px 70px 22px 0; 
}
.btn-download .icon {
	position: absolute;
	top: 0;
	height: 100%;
	width: 70px;
	right: 0;
	background: #dedede;
}
.btn-download .icon svg {
	height: 35px;
	fill: #fff;
	position: absolute;
	top: 0; bottom: 0;
	margin: auto;
	left: 0; right: 0;
}

.mapa-overlay {
	position: fixed;
	top: 0; left: 0;
	z-index: 20;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.9);
	font-size: 15px;
	display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items:center;
}
@media (min-width:768px) {
	.mapa-overlay {
		position: fixed;
		top: 0; left: 0;
		z-index: 20;
		width: 100%;
		height: 100%;
		background: rgba(255, 255, 255, 0.9);
		font-size: 15px;
		display: flex;
	    flex-flow: row wrap;
	    justify-content: space-between;
	    align-items:center;
	}	
}
@media (max-height:700px) and (max-width: 767px) {
	.mapa-overlay { 
		overflow-y: scroll;
		padding-top: 10px;
	}
	.splash-icons {
		margin-top: 100px;
	}
}
.mapa-overlay.is-hidden {
	visibility: hidden;
}
.mapa-overlay .btn {cursor: pointer;}
#btn-navegue {
	border:2px solid #dedede; 
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: -0.02em;
	text-align: center;
	position: relative;
	margin: 34px auto;
	display: block;
	width: 260px; 
	color: #4d4c4c;
	font-size: .8em;
	padding: 22px 0 22px 0; 
}
#btn-navegue:hover {
	background: #dedede;
}
@media (min-width:1200px) {
	.mapa-overlay .btn-close {
		right: -70px;
	}	
}

.mapa-overlay .wrapper  {
	width: 700px;
	margin: auto;
	max-width: 90%;
	position: relative;
}
@media (min-width:1800px) {
	.mapa-overlay .wrapper {
		width: 866px;
	}
}
.mapa-overlay h2 {
	font-weight: 300;
	font-size: 28px;
	text-align: center;
	margin-bottom: 1em;
	margin-top: 20px;
}
.mapa-overlay h2, .mapa-overlay strong {
	color: #5598f9;
}
.mapa-overlay p {
	margin-top: 1em;
}
.splash-icons  {
	text-align: center;
}
.splash-icons span {
	width: 80px; height: 30px;
	max-width:22%;
	display: inline-block;
}
.splash-icons span  svg {
	height: 40px;
}

@media (min-height: 830px) {
	.splash-icons span {
		width: 120px;
		height: 70px;
	}
	.splash-icons span  svg {
		height: 70px;
	}
	.mapa-overlay {
		font-size: 18px;
	}
	.mapa-overlay h2 {
		font-size: 45px;
	}
}
.comparativo--ano1 {
	color: #c754ce;
}
.comparativo--ano2 {
	color: #39b54a;
}
.comparativo--ano1, .comparativo--ano2 {
	font-size: 32px;
	font-weight: 700;
}
.comparativo-table { 
	font-size: 0;
	width: 960px;
	max-width: 100%;
	font-weight: 600;
		
}
 
.comparativo-table {
	display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items:center;
}
 
.comparativo-table em {
	font-weight: normal;
	margin-left: 6px;
	font-size: .8em;
}
#sec-projeto .wrapper {
	width: 960px;
}
#sec-projeto .comparativo-table  {
	width: 100%;
}
@media (max-width:767px) {
	#sec-projeto .comparativo-table .comparativo-table-header-item.mod-1 {display: none;}
	#sec-projeto .comparativo-table .comparativo-table-header-item.mod-2,
	#sec-projeto .comparativo-table .comparativo-table-header-item.mod-3 {
		width: 48%;
		display: inline-block;
	}
}
#sec-projeto .comparativo-table > div.mod-1 {text-align: left;     justify-content: flex-start;}
#sec-projeto .comparativo-table > div.mod-1,
#sec-projeto .comparativo-table > div.mod-3 {
	/* width: 50%; */
	margin-right: 0;
}
.comparativo-table   div { 
	vertical-align: top;
	font-size: 16px; 
	margin-right: 3px;
	margin-bottom: 3px;
	padding: 8px 12px;
	
}
@media (max-width:767px) {
	.comparativo-table  div {
		width: 100%;
	}
}
@media (min-width:768px) {
	.comparativo-table  div {display: inline-block;}
	#sec-projeto .comparativo-table  div.mod-1,
	#sec-projeto .comparativo-table  div.mod-2,
	#sec-projeto .comparativo-table  div.mod-3 {
		width: 33%;
	}
	
	#sec-projeto .comparativo-table-header {
		width: 100%;
		padding: 0 0 0 35.5%;
	}

	#sec-projeto .comparativo-table  div.mod-2.comparativo-table-header-item {
		width: 51%;
	}
	#sec-projeto .comparativo-table  div.mod-3.comparativo-table-header-item {
		width: 45%;
	}
	#sec-projeto .comparativo-table > div.comparativo-duracao {    padding-left: 35.4%;} 
	.comparativo-table   div.projeto-tabela-miolo {position: relative; padding: 0; margin-bottom: 0;}
	.comparativo-table   div.tabela-mensagem {
		height: 100%;
		width: 29%;
		display: block;
		float: left;
		border: 2px solid #c754ce;
		position: absolute;
		right: 0; top: 0;
		text-align: left;
		padding: 10px;
		margin-top: 0 !important; margin-bottom: 0 !important;
	}
	
	#sec-projeto .comparativo-table .inner {
		width: 69%;
		padding: 0;
		margin-bottom: 0;
	}
	#sec-projeto .comparativo-table .inner > div:last-child {margin-bottom: 0;}
	#sec-projeto .comparativo-table .inner > div {
		width: 48%;
	}
	#sec-projeto .mod-2.bg {
		text-align: right;
		justify-content: flex-end;
	}
	#sec-projeto .comparativo-table > div.mod-1.comparativo-fonte {
		width: 33%  ;
		text-align: right !important;
		justify-content: flex-end;
	}
}
@media (min-width:1024px) {
	.comparativo-table   div.tabela-mensagem {
		padding: 0 2.5em;
	}
}
.mod-1.bg {
	border: 1px solid #f2f1f1;
	background: #f9f9f9;
}
.mod-2.bg {
	color: #fff;
	background: #c754ce;
}
.mod-2.border {
	color: #fff;
	border:1px solid #c754ce;
}
.mod-3.bg {
	color: #fff;
	background: #39b54a;
}
.mod-3.border {
	color: #fff;
	border:1px solid #39b54a;
}
.comparativo-table > div.txt-small {
	font-size: 12px;
	font-weight: normal;
}




@media (min-width:768px) {
	.mod-1 {
		width: 36.8%;
		text-align: right;
	}
	.mod-2 {
		width: 18.75%;
	}
	.flexbox .comparativo-table  div.mod-2,
	.flexbox .comparativo-table  div.mod-3
	{
		justify-content: center;
	}
	.comparativo-table  div.mod-3 {
		width:42.1%; padding-right: 30px;
	}
	.comparativo-table  div.mod-3.bg {
		text-align: right;
	}
	.flexbox .comparativo-table div.mod-3.bg,
	.flexbox .comparativo-table div.mod-1 {
		justify-content: flex-end;
	}
	.flexbox .comparativo-table div {
		min-height: 32px;
		min-height: 2.5rem;
		display: inline-flex;
	    flex-flow: row wrap;
	    justify-content: space-between;
	    align-items:center;
	}
} 
.comparativo-header .mod-inicio span{
	color: #c754ce;
	border:1px solid #c754ce;
}
.comparativo-header .mod-fim span{
	color: #39b54a;
	border:1px solid #39b54a;
}
.comparativo-header {
	margin:0 auto 2em auto;
	width: 960px;
	max-width: 100%; 
	display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items:center;
}
.comparativo-header  div {
	font-weight: 300;
	font-size: 24px;
	vertical-align: middle;
}
.comparativo-header  div.mod-periodo {
	font-size: 12px;
	font-weight: normal;
}
@media (min-width:768px) {
	.comparativo-header  div {font-size: 32px;}
	.comparativo-header  div.mod-periodo {
		font-size: 16px;
	}
}



@media (min-height:830px) {
	.comparativo-header > div  {
		font-size: 40px;
	}
	.comparativo-header > div.mod-periodo {
		font-size: 16px;
	}
}

 
	.mod-inicio {text-align: left; position: relative;}
	.mod-fim {text-align: right; position: relative;}
	.mod-inicio span, .mod-fim span {
		width: 60%;
		text-align: center;
		display: inline-block;
	}
	.mod-inicio .seta, .mod-fim .seta{
		content: '';
		display: block;
		width: 33%;
		height: 2px; 
		border-top: 2px dashed #8ae647;
		position: absolute;
		top: 0; bottom: 0;	
		margin: auto;
	}
	.mod-inicio .seta {
		right: 0;
	}
	.mod-fim .seta{
		left: 0;
	}
	.mod-inicio .seta::after, .mod-fim .seta::after { 
		content: '';
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 6.5px 0 6.5px 9px;
		border-color: transparent transparent transparent #8ae647;
		display: inline-block;
		position: absolute;
		bottom: 0; top: -2.1px;
		margin: auto;
		right: -9px;
	} 
	.comparativo-header {font-size: 0; margin-bottom: 16px;}
	.comparativo-header > div {
		width: 38.5%;
		display: inline-block;
	}
	.comparativo-header > div.mod-periodo {
		width: 20%; 
	}
 
.comparativo-table > div.comparativo-fonte {
	text-align: right;
	font-size: 12px;
	width: 100%;
	justify-content: flex-end;
    align-items: flex-end;
    margin-top: 8px;
}

.comparativo-table > div.comparativo-duracao {
	width: 100%;
	padding: 0;
}


.comparativo-duracao .mod-inicio, .comparativo-duracao .mod-fim,
.flexbox .comparativo-table div.mod-inicio, 
.flexbox .comparativo-table div.mod-fim { 
	border-top: 1px solid #f10bdf;
	vertical-align: middle;
	padding: 0;
	display: inline-block;
	min-height: 0;
}
.flexbox .comparativo-table .comparativo-duracao div {
	display: block;
	margin-right: 0;
}
@media (min-width:768px) {
	.comparativo-duracao .mod-periodo {width: 50%;}
	.flexbox .comparativo-table div.mod-inicio, 
	.flexbox .comparativo-table div.mod-fim {
		width: 25%;  
	}
}
@media (min-width:768px) {
	.comparativo-table > div.comparativo-duracao { padding-left: 37.4%;}
}
@media (min-width:1600px) {
	.comparativo-duracao .mod-periodo {width: 40%;}
	.comparativo-duracao .mod-inicio, .comparativo-duracao .mod-fim {
		width: 30%;
	}
}

#preloader {
	width: 100%;
	height: 100%;
	background: #47bbe6;
	position: fixed;
	top: 0; left: 0;
	z-index: 30;
	display: none;
	opacity: 1;
	visibility: visible;
	transition: all .2s;
}
#preloader.is-hidden { 
	opacity: 0;
	visibility: hidden;
}
#preloader .bar {
	width: 60%;
	height: 100px;
	background: rgba(255, 255, 255, 0.5);
	position: absolute;
	bottom: 0; top: 0;
	left: 0;
	right: 0;
	margin: auto;
}
#preloader .bar-progress {
	background: #fff;
	height: 100%;
	width: 0%;
	transition: width .6s ease-out;
} 
.overlay-content-listagem {
	text-align: left;
}
.overlay-content-listagem li ul {
	padding-left: 1em;
}


.table-projeto-header {
	width: 100%;
	text-align: right;
	
}
.flexbox .comparativo-table > div.table-projeto-header  {
	justify-content: flex-end;
	padding-left:  0;
	padding-right:  0;
}
.comparativo-table > div.table-projeto-header  span{
	display: block;
	font-size: 32px;
	font-weight: 700;
}

[data-current="ferrovias"] .comparativo-table > div.table-projeto-header  span{
	color: #f3ae08;
}
[data-current="rodovias"] .comparativo-table > div.table-projeto-header  span{
	color: #8e7cd9;
}

@media (min-width: 1024px) and (max-width:1300px) and (min-height:1000px ) {
	#mapa {width: 70%;}
}


.mapa-item {
	max-width: 90%;
	margin: auto;
	cursor: pointer;
}
#mapa.is-hidden .mapa-item{
	display: none;
}
.pin-item-title {
	padding: 10px 15px; 
	margin-top: 10px;
	color: #fff; 
}
.pin-item-title span {
	display: inline-block;
	vertical-align: top;
	width: 65%;
}
.pin-item-title span.icon {
	width: 33%;
}
.pin-item-title .icon svg{
	fill: #fff;
	display: inline-block;
	width: 80px;
	height: 40px;
	padding-right: 10px;
}

@media (max-width:767px) {
	.desktop-only {display: none;}
}
@media (min-width:768px) {
	.mobile-only {display: none;}
}


/*TABELA PROJETOS CORES*/
body[data-current="ferrovias"] #sec-projeto .comparativo-table .comparativo-table-header-item.mod-2,
body[data-current="ferrovias"] .comparativo-duracao .mod-inicio,
body[data-current="ferrovias"] .comparativo-duracao .mod-fim,
body[data-current="rodovias"] #sec-projeto .comparativo-table .comparativo-table-header-item.mod-2,
body[data-current="rodovias"] .comparativo-duracao .mod-inicio,
body[data-current="rodovias"] .comparativo-duracao .mod-fim
 {
	border-color: #39b54a;
}
body[data-current="ferrovias"] #sec-projeto .comparativo-table .comparativo-table-header-item.mod-2 .comparativo--ano1,
body[data-current="rodovias"] #sec-projeto .comparativo-table .comparativo-table-header-item.mod-2 .comparativo--ano1{
	color: #39b54a;
}
body[data-current="ferrovias"] #sec-projeto .comparativo-table .comparativo-table-header-item.mod-3 {
	border-color: #f3ae08;
}
body[data-current="rodovias"] #sec-projeto .comparativo-table .comparativo-table-header-item.mod-3 {
	border-color: #8e7cd9;
}
body[data-current="ferrovias"] #sec-projeto .comparativo-table .comparativo-table-header-item.mod-3 .comparativo--ano2{
	color: #f3ae08;
}
body[data-current="rodovias"] #sec-projeto .comparativo-table .comparativo-table-header-item.mod-3 .comparativo--ano2 {
	color: #8e7cd9;
}
body[data-current="ferrovias"] .comparativo-table   div.tabela-mensagem{
	border: 2px solid #f3ae08;
	color: #f3ae08;
}
body[data-current="rodovias"] .comparativo-table   div.tabela-mensagem{
	border: 2px solid #8e7cd9;
	color: #8e7cd9;
}
body[data-current="ferrovias"] .mod-2.bg,
body[data-current="rodovias"] .mod-2.bg
{
	background: #39b54a;
}

body[data-current="rodovias"] .comparativo-table   div.tabela-mensagem{}




@media (max-height:829px) {
	.is-ie .title-icon {
		height: 50px; width: 50px;
	}
}

.no-flexbox .comparativo-table {
	text-align: left;
}
.no-flexbox  .comparativo-table div.tabela-mensagem{
	padding-top: 1em;
}
.no-flexbox  .mapa-overlay{
	padding-top: 2em;
}
.no-flexbox .main--navegacao{
	display: block;
}

.is-ie .projeto-tabela-miolo {
	width: 100%;
}

